# core scientific deps
networkx==2.4
numpy==1.18.5
scipy==1.4.1
matplotlib==3.2.2
psutil==5.7.0
h5py==2.10.0
boto3==1.14.14
gpy==1.9.9
gpyopt==1.2.6
mlflow==1.9.1
scikit-learn==0.23.2
cma
celery
pyyaml
ruamel.yaml
coloredlogs
imageio

# optional
# GPy==1.9.9
# GPyOpt==1.2.6
# boto3>=1.14.14
